body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;

}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.auth-form input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.auth-form button {
  padding: 12px;
  background-color: #4facfe;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-form button:hover {
  background-color: #00c6ff;
}

.auth-form p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.auth-form a {
  color: #4facfe;
  text-decoration: none;
  font-weight: bold;
}
